/* I wanted the font to be the same throughout the entire webpage, so I used a universal selector to set the type of font for all the text */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* I used the :root pseudo-class to set the color for the backgrounds and text/borders because I wanted to mess around with different dark and light colors without having to change the value in each ruleset */
:root {
    --dark: rgb(0, 0, 0);
    --light: rgb(255, 255, 255);
    --backdrop: #05C7F2
}

/* I used display: flex, justify-content: space-between, and align-items: center to improve the visual appearance of my header
I also added light text and a dark background to achieve the look that I was going for  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    color: var(--light);
    background-color: var(--dark);
}

/* Here I set the font-size and color of the text in h1 */
h1 {
    font-size: 50px;
    color: var(--light);

}

/* I changed the font to 30px here so that the text isn't as large as my h1 */
nav {
    font-size: 30px;
}

/* I set the display to inline-block so that they list items in the nav bar would line up side by side */
nav li {
    display: inline-block;
    margin-left: 20px;
}

/* I wanted to remove the underline in the navbar because I liked the way that it looked without the underline, so I used an ID selector to do so */
#remove-underline {
    text-decoration: none;
    color: var(--light);

}

/* I wanted to add a photo of my artwork to break up the header and the body of the webpage, so I used a figure element and background-image */
figure {
    height: 300px;
    width: 100%;
    background-image: url("challenge-2.jpg");
}

/* I set the height and width of my image, I gave it a border-radius of 100% to make it a circle, and I added a solid white border for style purposes */
.my-image {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: solid rgb(255, 255, 255);
}

/* This is the body. I wanted the background of the entire body of the webpage to be black, so I set that here */
body {
    background-color: var(--dark);
}

/* I added height and padding values to space things out and improve the appearnace of my portfolio */
main {
    height: 1000px;
    padding: 5%;
}

/* I set the display to flex, justify-content to flex-start, font-size to 30px and padding to 30px, and color to white */
h2 {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    padding: 30px;
    color: var(--light);
}

/* I set the display properties and added a background color to add a pop of color to my portfolio */
.row-section {
    display: flex;
    padding: 2%;
    background-color: var(--backdrop);
    margin-bottom: 5px;
    border-radius: 20px;
}

/* I set the class row-section for h2 to have a width of 25% */
.row-section>h2 {
    width: 25%;
}

/* I set the class row-section for section to have a width of 75%*/
.row-section>section {
    width: 75%;
}

/* I set the display property to flex and used justify-content to center my content, I also gave the images a border and positioned them as relative to the text over my images */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--light);
    position: relative;
}

/* I used positioning to place the text for this image where I wanted it to be, and I gave the text a solid white border in hopes to make it stand out more
I also positioned the text so that it would appear over the image where I wanted it to.  */
.image-container text {
    position: absolute;
    background-color: var(--dark);
    border: solid var(--light);
    color: var(--light);
    font-size: 25px;
    left: 0;
    bottom: 5%;
}

/* I set the height and width of the image to 100% so that it would take up the whole space of the container */
.image-container img {
    height: 100%;
    width: 100%;
    opacity: 1.0;
}

/* I used the :hover pseudo-element to change the opacity of the images in the "my work" section in hopes to make it clear that it's a clickable link */
.image-container img:hover {
    opacity: 0.6;
}

/* I added an ID selector to make the bottom images in the "My Work" section to wrap and have equal space between them and make them wrap instead of go into a straight line */
#bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

/* I set the width to 45% to specify the width of the content in this container and I added margin-top to space out the images */
#bottom .image-container {
    width: 45%;
    margin-top: 45px;
}

/* I added padding properties to place the text where I wanted it on the page, and I changed the font size and color to make it look the way I wanted it to */
p {
    padding: 25px;
    font-size: 20px;
    color: var(--light);
    line-height: 1.5;
}

/* I changed the color of the text in the anchor tags to achieve the look that I was going for */
a {
    color: var(--light);
}

/* I changed the font size and color of the text to white achieve the look that I wanted */
.contact-info section p {
    font-size: 20px;
    color: var(--light);
}

/* I added media queries so that my webpage will have a responsive layout and be visually appealing to the user regardless of the size of their screen*/
@media screen and (max-width:600px) {
    .row-section {
        flex-direction: column;
    }

    .row-section>h2 {
        width: 100%;
    }

    .row-section>section {
        width: 100%
    }

    .image-container text {
        font-size: 16px;
    }

    #bottom {
        flex-direction: column;
    }

    #bottom .image-container {
        width: 100%;
    }
}