* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    color: white;
    background-color: aquamarine;

}

h1 {
    display: inline-block;
    font-size: 50px;
    color: black;

}

nav {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    color: black;
}

figure {
    height: 200px;
    width: 100%;
    background-image: url("challenge-2.jpg");
}

body {
    background-color: skyblue;
}
main {
    height: 600px;
    padding: 5%;
}

h2 {
    margin-left: 15%;
    font-size: 30px;
    padding: 30px;
}

main section img {
    height: 200px;
}
p {
    padding: 25px;
    margin-left: 20%;
    font-size: 20px;
}

.contact-info p {

    font-size: 20px;
    display: inline-block;
    text-decoration: underline;
}